.app {
  text-align: center;
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 100px); 
  justify-content: center;
  gap: 1px; 
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  cursor: pointer;
  user-select: none;
}

.cell.on {
  background-color: black;
}

.cell.off {
  background-color: white;
}



